html, body {
    margin: 0;
    height: 100%;
}

body {
  font-family: 'Roboto';

}


.footer {
  position: fixed;
  bottom: 0;
}





// hidden Grid
@media (max-width: 65em) {
.element {
display: none;
}
}
